body {
    font: 20px tahoma, sans-serif;
    margin: 0;
}
header {
    background-color: #ffce99;
    margin: 0;
    width: 100vw;
    border-bottom: 3px darkred solid;
}
main {
    margin: 0 auto;
    text-align: justify;
}
@media screen and (max-width: 600px) {
    main {
        width: 90vw;
    }
}
@media screen and (min-width: 600px) {
    main {
        width: 540px;
    }
}
footer {
    background-color: #ffce99;
    width: 100vw;
    color: darkred;
    border-top: 3px darkred solid;
}
h1 {
    font: 40px tahoma, sans-serif;
    text-align: center;
    margin: 0 auto;
}
@media screen and (max-width: 600px) {
    h1 {
        width: 90vw;
    }
}
@media screen and (min-width: 600px) {
    h1 {
        width: 540px;
    }
}
h2 {
    font: 24px tahoma, sans-serif;
    text-align: center;
}
figure {
    width: 100%;
    height: auto;
    margin: 0 auto;
}
img {
    width: 100%;
    height: auto;
    margin: 0 auto 5px;
    outline: solid darkred 1px;
}
figcaption {
    font: 16px tahoma;
    margin: 0 auto;
}
li {
    text-align: left;
    padding: 5px 0;
}
#calendarbox {
    text-align: center;
    border: 2px darkred solid;
    padding: 0px 25px;
}
#quote {
    text-align: center;
    font: 22px tahoma;
    color: darkred;
    margin: 45px 0;
}
#footertext {
    text-align: center;
    padding-top: 18px;
    font: 16px tahoma;
    padding-bottom: 20px;
    margin: 0 auto;
}
@media screen and (max-width: 600px) {
    #footertext {
        width: 90vw;
    }
}
@media screen and (min-width: 600px) {
    #footertext {
        width: 500px;
    }
}