body {
    font: 16px tahoma, sans-serif;
    margin: 0;
}
header {
    background-color: #ffce99;
    margin: 0;
    width: 100vw;
    border-bottom: 3px darkred solid;
}
main {
    width: 340px;
    margin: 0 auto;
    text-align: justify;
}
footer {
    background-color: #ffce99;
    width: 100vw;
    color: darkred;
    border-top: 3px darkred solid;
}
h1 {
    font: 34px tahoma, sans-serif;
    width: 340px;
    text-align: center;
    margin: 0 auto;
}
h2 {
    font: 24px tahoma, sans-serif;
    text-align: center;
}
figure {
    width: 100%;
    height: auto;
    margin: 0 auto;
}
img {
    width: 100%;
    height: auto;
}
figcaption {
    font: 11px tahoma;
    width: 100%;
}
li {
    text-align: left;
    padding: 5px 0;
}
#calendarbox {
    text-align: center;
    border: 2px darkred solid;
    padding: 0px 25px;
}
#quote {
    text-align: center;
    font: 18px tahoma;
    color: darkred;
    margin: 45px 0;
}
#footertext {
    text-align: center;
    width: 340px;
    padding-top: 10px;
    padding-bottom: 15px;
    margin: 0 auto;
}